body{
    background-color: rgb(240, 212, 178);
    text-align: center;
}
.container{
    display: flex; 
    justify-content: center; 
    align-items: center;       
  gap: 10px; 
  padding: 15px;  
}
.box{
    padding: 20px;  
border: 1px solid black ;
width: 300px;
height: 550px;
text-align: center;
button{
    border-radius: 20px;
    border: none;
    height: 40px;
    width: 250px;
    background-color: black;
    color: white;
}

}
.box1{
    padding: 20px;
    text-align: center;
   background-color: red;
width: 300px;
height: 550px; 
button{
    border-radius: 20px;
    border: none;
    height: 40px;
    width: 250px;
    color: red;
}
}
