.box{
    width: 50px;
    height: 50px;
    background-color: rgb(210, 112, 112);
    position: absolute;
    left: 0;
    bottom: 0;
}
.continer{
    position: relative;
    height: 80vh;
    border: 2px  solid rgb(21, 22, 22);
}
.box2{
    width: 50px;
    height: 50px;
    background-color: rgb(35, 166, 63);
    position: absolute;
    right: 0;
    bottom: 0;
}
.box3{
    width: 50px;
    height: 50px;
    background-color: rgb(188, 17, 140);
    position: absolute;
    top: 0;
    bottom: 0;
}
.box4{
    width: 50px;
    height: 50px;
    background-color: rgb(184, 20, 20);
    position: absolute;
    right: 0;
    top: 0;
}