.box{
background-color: white;
height: 300px;
border-radius: 20px;
text-align: center;
}
body{
    background-color: blue;
}
h2{
    color: blue;
}
input{
    width: 400px;
    height: 30px;
    border: none;
    background-color:  rgb(232, 215, 215);
}
