
.mahliyo{
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: rgb(35, 117, 225);
    color: white;
}
h2{
    color: royalblue;
}
.safina{
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: skyblue;
}
hr{
background-color: skyblue;
}