*{
    margin: 0;
    padding: 0;
}
nav{
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: pink;
}


.loga{
width: 70px;
height: 40px;
background-image: url(https://kun.uz/assets/66844a27/img/icons/logo-light.svg);
background-size: contain;
background-position: center;
background-repeat: no-repeat;

}


.menyu{
display: flex;
gap: 20px;
}
a{
    text-decoration: none;
    color: red;
    font-weight: bold;
}
.search{

}
input{
    max-width: 100px;
    border-radius: 10px;
    height: 25px;
    border-radius: 20px;
    border: none;
}
input::placeholder{
    text-align: center;
    color: hotpink;
}

main{
   margin-inline: 150px; 
    display: flex;
    gap: 10px;
}
.box{
    flex-grow: 1;
    text-align: center;
   
  
}
.left{
display: flex;
flex-wrap: wrap;
}
.card{
display: flex;
width: 80%;
align-items: center;
flex-direction: column;
}

.right{

}
img{
    width: 150px;
    height: 150px;
}