h1{
   text-align: center;
    border: 5px solid red
}
.box{
    width:  100px;
    height: 100px;
    border: 2px dotted black
}
.box1 {
    width: 100px;
    height: 100px;
    border: 2px  dotted red
}
.box2{
  width: 100px;
    height: 100px;
    border: 2px  dotted rgb(150, 14, 98)   
}
.box3{
     width: 100px;
    height: 100px;
    border: 2px  dotted rgb(0, 255, 21)
}
.box4{
     width: 100px;
    height: 100px;
    border: 2px  dotted rgb(52, 19, 218)
}
.box5{
     width: 100px;
    height: 100px;
    border: 2px  dotted rgb(219, 26, 174)
}