.continer{
    flex-wrap: wrap;
    display: flex;
}


.box1{
width: 150px;
height: 50px;
text-align: center;
background-color: brown;
}
.box2{
 width: 150px;
height: 50px;
text-align: center;
background-color: green;
}
.box3{
width: 150px;
height: 50px;
text-align: center;
background-color: white; 
}
.box4{
width: 150px;
height: 50px;
text-align: center;
background-color:green;
}
.box5{
width: 150px;
height: 50px;
text-align: center;
background-color: brown; 
}
.box6{
 width: 150px;
height: 50px;
text-align: center;
background-color: blue;
}
.box7{
 width: 150px;
height: 50px;
text-align: center; 
background-color: brown; 
}
.box8{
width: 150px;
height: 50px;
text-align: center;
background-color:blue;
}
.box9{
 width: 150px;
height: 50px;
text-align: center;
background-color: brown; 
}