

.box{
    margin: 200px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 96, 96);
    width: 220px;
    height: 250px;
    text-align: center;
}
.box2{
    background-color: rgb(240, 96, 96);
    width: 200px;
    height: 200px;
    border: 1px solid;
    color: white;
   
}