#Mahliyo{
    color: rgb(19, 206, 16);
    background-color: blueviolet;
}
p{
    color: blueviolet;
}
h2{
    color: green;
}
#m{
    color: red;
    background-color: yellow;
}
#S{
 color: red;
    background-color: yellow;   
}