*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 80px;
    width: 100%;
}
.box1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    gap: 20px;
}
.box2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    gap: 20px;
    padding: 20px;
}
.box{
    width: 50%;
}

.box3{
    width: 50%;
   height: 400px;
}
.box4{
    width: 50%;
}