*{
    margin: 0;
    padding: 0;
}
.continer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgb(0, 238, 255);
    button{
    background-color: black;
    color: white;
    width: 200px;
    border-radius: 10px; border:none;
}
}
.box{
   padding: 10px;
text-align: center;
    border: 2px black;
    border-radius: 10px;
    background-color: rgb(255, 244, 244);
    width: 300px;
    height: 450px;
}
img{ 
    border-radius: 10px;
}