*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 35px;
}
.loga{
    font-size: 25px;
   font-weight: bold;
   color: blue;
   font-family:monospace;
}
a{
    text-decoration: none;
margin-left: 15px;
font-size: 18px;
color: black;
}
.boshsahifa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgba(29, 95, 236, 0.988);
    height: 40vh;
    padding: 10vh;
    row-gap: 25px;
}
button{
    height: 45px;
    width: 150px;
    border-radius: 5px;
    border: none;
    background-color: yellowgreen;
    color: white;
}
.flexcontiner{
    display: flex;
}
.box{
    width: 100px;
    line-height: 100px;
   
}

