.box{
    margin: 100px auto;
    width: 300px;
background-color: white;
border-radius: 10px;
text-align: center;
padding: 10px;
}
body{
    background-color: bisque;
}
a{
  background-color: blue;
 color: aliceblue;
  border-radius: 4px;
text-decoration: none;
padding: 7px;
}