*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    background-color: white;
    border-bottom: 10px solid rgb(142, 137, 137)

}
.nav-left{
    font-family:  monospace;
    font-size: 25px;
    font-weight: bold;
    span{
 color:brown;
    }
}
.nav{
    display: flex;
    align-items: center;
    gap: 10px;
}
a{
    text-decoration: none;
    color:black;
    font-weight: 300;
    font-size: 10px;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: brown;
    margin: 10px auto;
    width: 80%;
    background-color:rgb(249, 189, 93);
    padding: 20px;
    text-align: center;
    font-weight: bold;
    span{
        color: black;
    }
}